@media (max-width: 768px) {
    .desktop-iframe {
        display: none;
    }

    .mobile-iframe {
        display: block;
    }
}

#iframe-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}